doctype
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    title TOP

  body
    main
      .p-h1 TOP

      a(href="content/index.html") 下層へ
      
      .p-contents
        .p-item
        .p-item
          img(src="img/photo2.jpg")
        .p-item.js-item

      .js-ajax(data-api="http://localhost:8888/test/",data-param="tokyo")
      input.js-input(data-val="aa", value="cc")
      
      .js-scroll
